parameters:
	ignoreErrors:
		-
			message: '#^Call to an undefined method Nette\\ComponentModel\\IComponent\:\:addError\(\)\.$#'
			identifier: method.notFound
			count: 4
			path: app/Presenters/Home/HomePresenter.php

		-
			message: '#^Property Nette\\Forms\\Container\:\:\$onValidate \(array\<callable\(Nette\\Application\\UI\\Form, mixed\)\: void\>\) does not accept non\-empty\-array\<\(callable\(Nette\\Application\\UI\\Form, mixed\)\: void\)\|\(Closure\(Nette\\Application\\UI\\Form, Nette\\Utils\\ArrayHash\)\: void\)\>\.$#'
			identifier: assign.propertyType
			count: 1
			path: app/Presenters/Home/HomePresenter.php

		-
			message: '#^Property Nette\\Forms\\Form\:\:\$onSuccess \(array\<callable\(Nette\\Application\\UI\\Form, mixed\)\: void\>\) does not accept non\-empty\-array\<\(callable\(Nette\\Application\\UI\\Form, mixed\)\: void\)\|\(Closure\(Nette\\Application\\UI\\Form, Nette\\Utils\\ArrayHash\)\: never\)\>\.$#'
			identifier: assign.propertyType
			count: 1
			path: app/Presenters/Home/HomePresenter.php

		-
			message: '#^Method PetStore\\Services\\CategoryService\:\:create\(\) should return PetStore\\Data\\Result\<PetStore\\Enums\\CreateCategoryErrorResult, PetStore\\Data\\Category\> but returns PetStore\\Data\\Result\<PetStore\\Enums\\CreateCategoryErrorResult\:\:FAILED, null\>\.$#'
			identifier: return.type
			count: 1
			path: app/Services/CategoryService.php

		-
			message: '#^Method PetStore\\Services\\CategoryService\:\:create\(\) should return PetStore\\Data\\Result\<PetStore\\Enums\\CreateCategoryErrorResult, PetStore\\Data\\Category\> but returns PetStore\\Data\\Result\<PetStore\\Enums\\CreateCategoryErrorResult\:\:INVALID_DATA, null\>\.$#'
			identifier: return.type
			count: 1
			path: app/Services/CategoryService.php

		-
			message: '#^Method PetStore\\Services\\CategoryService\:\:create\(\) should return PetStore\\Data\\Result\<PetStore\\Enums\\CreateCategoryErrorResult, PetStore\\Data\\Category\> but returns PetStore\\Data\\Result\<null, PetStore\\Data\\Category\>\.$#'
			identifier: return.type
			count: 1
			path: app/Services/CategoryService.php

		-
			message: '#^Method PetStore\\Services\\HomeService\:\:createPet\(\) should return PetStore\\Data\\Result\<PetStore\\Enums\\HomeActionCreateErrorResult, PetStore\\Data\\Pet\> but returns PetStore\\Data\\Result\<PetStore\\Enums\\HomeActionCreateErrorResult\:\:CATEGORY_NOT_FOUND, null\>\.$#'
			identifier: return.type
			count: 1
			path: app/Services/HomeService.php

		-
			message: '#^Method PetStore\\Services\\HomeService\:\:createPet\(\) should return PetStore\\Data\\Result\<PetStore\\Enums\\HomeActionCreateErrorResult, PetStore\\Data\\Pet\> but returns PetStore\\Data\\Result\<PetStore\\Enums\\HomeActionCreateErrorResult\:\:INTERNAL_SERVER_ERROR, null\>\.$#'
			identifier: return.type
			count: 1
			path: app/Services/HomeService.php

		-
			message: '#^Method PetStore\\Services\\HomeService\:\:createPet\(\) should return PetStore\\Data\\Result\<PetStore\\Enums\\HomeActionCreateErrorResult, PetStore\\Data\\Pet\> but returns PetStore\\Data\\Result\<PetStore\\Enums\\HomeActionCreateErrorResult\:\:INVALID_IMAGE_FILE, null\>\|PetStore\\Data\\Result\<PetStore\\Enums\\HomeActionDefaultErrorResult\:\:INTERNAL_SERVER_ERROR, null\>\.$#'
			identifier: return.type
			count: 1
			path: app/Services/HomeService.php

		-
			message: '#^Method PetStore\\Services\\HomeService\:\:createPet\(\) should return PetStore\\Data\\Result\<PetStore\\Enums\\HomeActionCreateErrorResult, PetStore\\Data\\Pet\> but returns PetStore\\Data\\Result\<PetStore\\Enums\\HomeActionCreateErrorResult\:\:INVALID_INPUT, null\>\|PetStore\\Data\\Result\<PetStore\\Enums\\HomeActionDefaultErrorResult\:\:INTERNAL_SERVER_ERROR, null\>\.$#'
			identifier: return.type
			count: 1
			path: app/Services/HomeService.php

		-
			message: '#^Method PetStore\\Services\\HomeService\:\:createPet\(\) should return PetStore\\Data\\Result\<PetStore\\Enums\\HomeActionCreateErrorResult, PetStore\\Data\\Pet\> but returns PetStore\\Data\\Result\<PetStore\\Enums\\HomeActionCreateErrorResult\:\:TAG_NOT_FOUND, null\>\.$#'
			identifier: return.type
			count: 1
			path: app/Services/HomeService.php

		-
			message: '#^Method PetStore\\Services\\HomeService\:\:createPet\(\) should return PetStore\\Data\\Result\<PetStore\\Enums\\HomeActionCreateErrorResult, PetStore\\Data\\Pet\> but returns PetStore\\Data\\Result\<null, PetStore\\Data\\Pet\>\.$#'
			identifier: return.type
			count: 2
			path: app/Services/HomeService.php

		-
			message: '#^Method PetStore\\Services\\HomeService\:\:deleteById\(\) should return PetStore\\Data\\Result\<PetStore\\Enums\\HomeActionDeleteErrorResult, int\> but returns PetStore\\Data\\Result\<PetStore\\Enums\\HomeActionDeleteErrorResult\:\:BAD_REQUEST, null\>\|PetStore\\Data\\Result\<PetStore\\Enums\\HomeActionDeleteErrorResult\:\:INTERNAL_SERVER_ERROR, null\>\.$#'
			identifier: return.type
			count: 1
			path: app/Services/HomeService.php

		-
			message: '#^Method PetStore\\Services\\HomeService\:\:deleteById\(\) should return PetStore\\Data\\Result\<PetStore\\Enums\\HomeActionDeleteErrorResult, int\> but returns PetStore\\Data\\Result\<null, int\>\.$#'
			identifier: return.type
			count: 1
			path: app/Services/HomeService.php

		-
			message: '#^Method PetStore\\Services\\HomeService\:\:prepareGridData\(\) should return PetStore\\Data\\Result\<PetStore\\Enums\\HomeActionDefaultErrorResult, PetStore\\Presenters\\Components\\Grid\\Data\\GridData\> but returns PetStore\\Data\\Result\<PetStore\\Enums\\HomeActionDefaultErrorResult\:\:INTERNAL_SERVER_ERROR, PetStore\\Presenters\\Components\\Grid\\Data\\GridData\>\.$#'
			identifier: return.type
			count: 1
			path: app/Services/HomeService.php

		-
			message: '#^Method PetStore\\Services\\HomeService\:\:prepareGridData\(\) should return PetStore\\Data\\Result\<PetStore\\Enums\\HomeActionDefaultErrorResult, PetStore\\Presenters\\Components\\Grid\\Data\\GridData\> but returns PetStore\\Data\\Result\<PetStore\\Enums\\HomeActionDefaultErrorResult\:\:INTERNAL_SERVER_ERROR, PetStore\\Presenters\\Components\\Grid\\Data\\GridData\>\|PetStore\\Data\\Result\<PetStore\\Enums\\HomeActionDefaultErrorResult\:\:INVALID_FILTER_VALUE, PetStore\\Presenters\\Components\\Grid\\Data\\GridData\>\|PetStore\\Data\\Result\<PetStore\\Enums\\HomeActionDefaultErrorResult\:\:NOT_FOUND, PetStore\\Presenters\\Components\\Grid\\Data\\GridData\>\.$#'
			identifier: return.type
			count: 1
			path: app/Services/HomeService.php

		-
			message: '#^Method PetStore\\Services\\HomeService\:\:prepareGridData\(\) should return PetStore\\Data\\Result\<PetStore\\Enums\\HomeActionDefaultErrorResult, PetStore\\Presenters\\Components\\Grid\\Data\\GridData\> but returns PetStore\\Data\\Result\<PetStore\\Enums\\HomeActionDefaultErrorResult\:\:NOT_FOUND, PetStore\\Presenters\\Components\\Grid\\Data\\GridData\>\.$#'
			identifier: return.type
			count: 1
			path: app/Services/HomeService.php

		-
			message: '#^Method PetStore\\Services\\HomeService\:\:prepareGridData\(\) should return PetStore\\Data\\Result\<PetStore\\Enums\\HomeActionDefaultErrorResult, PetStore\\Presenters\\Components\\Grid\\Data\\GridData\> but returns PetStore\\Data\\Result\<null, PetStore\\Presenters\\Components\\Grid\\Data\\GridData\>\.$#'
			identifier: return.type
			count: 1
			path: app/Services/HomeService.php

		-
			message: '#^Method PetStore\\Services\\PetService\:\:create\(\) should return PetStore\\Data\\Result\<PetStore\\Enums\\CreatePetErrorResult, PetStore\\Data\\Pet\> but returns PetStore\\Data\\Result\<PetStore\\Enums\\CreatePetErrorResult\:\:CATEGORY_NOT_FOUND, null\>\.$#'
			identifier: return.type
			count: 1
			path: app/Services/PetService.php

		-
			message: '#^Method PetStore\\Services\\PetService\:\:create\(\) should return PetStore\\Data\\Result\<PetStore\\Enums\\CreatePetErrorResult, PetStore\\Data\\Pet\> but returns PetStore\\Data\\Result\<PetStore\\Enums\\CreatePetErrorResult\:\:FAILED, null\>\.$#'
			identifier: return.type
			count: 1
			path: app/Services/PetService.php

		-
			message: '#^Method PetStore\\Services\\PetService\:\:create\(\) should return PetStore\\Data\\Result\<PetStore\\Enums\\CreatePetErrorResult, PetStore\\Data\\Pet\> but returns PetStore\\Data\\Result\<PetStore\\Enums\\CreatePetErrorResult\:\:INVALID_INPUT, null\>\.$#'
			identifier: return.type
			count: 1
			path: app/Services/PetService.php

		-
			message: '#^Method PetStore\\Services\\PetService\:\:create\(\) should return PetStore\\Data\\Result\<PetStore\\Enums\\CreatePetErrorResult, PetStore\\Data\\Pet\> but returns PetStore\\Data\\Result\<PetStore\\Enums\\CreatePetErrorResult\:\:TAG_NOT_FOUND, null\>\.$#'
			identifier: return.type
			count: 1
			path: app/Services/PetService.php

		-
			message: '#^Method PetStore\\Services\\PetService\:\:create\(\) should return PetStore\\Data\\Result\<PetStore\\Enums\\CreatePetErrorResult, PetStore\\Data\\Pet\> but returns PetStore\\Data\\Result\<null, PetStore\\Data\\Pet\>\.$#'
			identifier: return.type
			count: 1
			path: app/Services/PetService.php

		-
			message: '#^Method PetStore\\Services\\PetService\:\:findByStatus\(\) should return PetStore\\Data\\Result\<PetStore\\Enums\\FindPetByStatusErrorResult, array\<PetStore\\Data\\Pet\>\> but returns PetStore\\Data\\Result\<PetStore\\Enums\\FindPetByStatusErrorResult\:\:INVALID_STATUS, null\>\.$#'
			identifier: return.type
			count: 1
			path: app/Services/PetService.php

		-
			message: '#^Method PetStore\\Services\\PetService\:\:findByStatus\(\) should return PetStore\\Data\\Result\<PetStore\\Enums\\FindPetByStatusErrorResult, array\<PetStore\\Data\\Pet\>\> but returns PetStore\\Data\\Result\<null, array\<PetStore\\Data\\Pet\>\>\.$#'
			identifier: return.type
			count: 1
			path: app/Services/PetService.php

		-
			message: '#^Method PetStore\\Services\\PetService\:\:getById\(\) should return PetStore\\Data\\Result\<PetStore\\Enums\\GetPetByIdErrorResult, PetStore\\Data\\Pet\> but returns PetStore\\Data\\Result\<PetStore\\Enums\\GetPetByIdErrorResult\:\:INVALID_ID, null\>\.$#'
			identifier: return.type
			count: 1
			path: app/Services/PetService.php

		-
			message: '#^Method PetStore\\Services\\PetService\:\:getById\(\) should return PetStore\\Data\\Result\<PetStore\\Enums\\GetPetByIdErrorResult, PetStore\\Data\\Pet\> but returns PetStore\\Data\\Result\<PetStore\\Enums\\GetPetByIdErrorResult\:\:PET_NOT_FOUND, null\>\.$#'
			identifier: return.type
			count: 1
			path: app/Services/PetService.php

		-
			message: '#^Method PetStore\\Services\\PetService\:\:getById\(\) should return PetStore\\Data\\Result\<PetStore\\Enums\\GetPetByIdErrorResult, PetStore\\Data\\Pet\> but returns PetStore\\Data\\Result\<null, PetStore\\Data\\Pet\>\.$#'
			identifier: return.type
			count: 1
			path: app/Services/PetService.php

		-
			message: '#^Method PetStore\\Services\\PetService\:\:partialUpdate\(\) should return PetStore\\Data\\Result\<PetStore\\Enums\\UpdatePetErrorResult, PetStore\\Data\\Pet\> but returns PetStore\\Data\\Result\<PetStore\\Enums\\UpdatePetErrorResult\:\:INVALID_ID, null\>\.$#'
			identifier: return.type
			count: 1
			path: app/Services/PetService.php

		-
			message: '#^Method PetStore\\Services\\PetService\:\:partialUpdate\(\) should return PetStore\\Data\\Result\<PetStore\\Enums\\UpdatePetErrorResult, PetStore\\Data\\Pet\> but returns PetStore\\Data\\Result\<PetStore\\Enums\\UpdatePetErrorResult\:\:PET_NOT_FOUND, null\>\.$#'
			identifier: return.type
			count: 1
			path: app/Services/PetService.php

		-
			message: '#^Method PetStore\\Services\\PetService\:\:partialUpdate\(\) should return PetStore\\Data\\Result\<PetStore\\Enums\\UpdatePetErrorResult, PetStore\\Data\\Pet\> but returns PetStore\\Data\\Result\<null, PetStore\\Data\\Pet\>\.$#'
			identifier: return.type
			count: 1
			path: app/Services/PetService.php

		-
			message: '#^Method PetStore\\Services\\PetService\:\:update\(\) should return PetStore\\Data\\Result\<PetStore\\Enums\\UpdatePetErrorResult, PetStore\\Data\\Pet\> but returns PetStore\\Data\\Result\<PetStore\\Enums\\UpdatePetErrorResult\:\:CATEGORY_NOT_FOUND, null\>\.$#'
			identifier: return.type
			count: 1
			path: app/Services/PetService.php

		-
			message: '#^Method PetStore\\Services\\PetService\:\:update\(\) should return PetStore\\Data\\Result\<PetStore\\Enums\\UpdatePetErrorResult, PetStore\\Data\\Pet\> but returns PetStore\\Data\\Result\<PetStore\\Enums\\UpdatePetErrorResult\:\:INVALID_ID, null\>\.$#'
			identifier: return.type
			count: 1
			path: app/Services/PetService.php

		-
			message: '#^Method PetStore\\Services\\PetService\:\:update\(\) should return PetStore\\Data\\Result\<PetStore\\Enums\\UpdatePetErrorResult, PetStore\\Data\\Pet\> but returns PetStore\\Data\\Result\<PetStore\\Enums\\UpdatePetErrorResult\:\:INVALID_INPUT, null\>\.$#'
			identifier: return.type
			count: 1
			path: app/Services/PetService.php

		-
			message: '#^Method PetStore\\Services\\PetService\:\:update\(\) should return PetStore\\Data\\Result\<PetStore\\Enums\\UpdatePetErrorResult, PetStore\\Data\\Pet\> but returns PetStore\\Data\\Result\<PetStore\\Enums\\UpdatePetErrorResult\:\:PET_NOT_FOUND, null\>\.$#'
			identifier: return.type
			count: 1
			path: app/Services/PetService.php

		-
			message: '#^Method PetStore\\Services\\PetService\:\:update\(\) should return PetStore\\Data\\Result\<PetStore\\Enums\\UpdatePetErrorResult, PetStore\\Data\\Pet\> but returns PetStore\\Data\\Result\<PetStore\\Enums\\UpdatePetErrorResult\:\:TAG_NOT_FOUND, null\>\.$#'
			identifier: return.type
			count: 1
			path: app/Services/PetService.php

		-
			message: '#^Method PetStore\\Services\\PetService\:\:update\(\) should return PetStore\\Data\\Result\<PetStore\\Enums\\UpdatePetErrorResult, PetStore\\Data\\Pet\> but returns PetStore\\Data\\Result\<null, PetStore\\Data\\Pet\>\.$#'
			identifier: return.type
			count: 1
			path: app/Services/PetService.php

		-
			message: '#^Method PetStore\\Services\\TagService\:\:create\(\) should return PetStore\\Data\\Result\<PetStore\\Enums\\CreateTagErrorResult, PetStore\\Data\\Tag\> but returns PetStore\\Data\\Result\<PetStore\\Enums\\CreateTagErrorResult\:\:FAILED, null\>\.$#'
			identifier: return.type
			count: 1
			path: app/Services/TagService.php

		-
			message: '#^Method PetStore\\Services\\TagService\:\:create\(\) should return PetStore\\Data\\Result\<PetStore\\Enums\\CreateTagErrorResult, PetStore\\Data\\Tag\> but returns PetStore\\Data\\Result\<PetStore\\Enums\\CreateTagErrorResult\:\:INVALID_DATA, null\>\.$#'
			identifier: return.type
			count: 1
			path: app/Services/TagService.php

		-
			message: '#^Method PetStore\\Services\\TagService\:\:create\(\) should return PetStore\\Data\\Result\<PetStore\\Enums\\CreateTagErrorResult, PetStore\\Data\\Tag\> but returns PetStore\\Data\\Result\<null, PetStore\\Data\\Tag\>\.$#'
			identifier: return.type
			count: 1
			path: app/Services/TagService.php
