parameters:
  level: 9

  exceptions:
    check:
      tooWideThrowType: true
      missingCheckedExceptionInThrows: true
    uncheckedExceptionRegexes:
      - '#^TypeError$#'

includes:
    - phpstan-baseline.neon