parameters:

services:
    router: PetStore\Router\RouterFactory::createRouter

    # Presenters
    - PetStore\Presenters\Api\Pet\PetPresenter
    - PetStore\Presenters\Api\Category\CategoryPresenter

    # Services
    - PetStore\Services\PetService
    - PetStore\Services\CategoryService

    # Repositories
    - PetStore\Repositories\XmlPetRepository('%appDir%/../db/pet-store.xml', 'Pets')
    - PetStore\Repositories\XmlCategoryRepository('%appDir%/../db/pet-category-store.xml', 'Categories')

extensions:
	apiRouter: Contributte\ApiRouter\DI\ApiRouterExtension

application:
	errorPresenter:
		4xx: Error:Error4xx
		5xx: Error:Error5xx
	mapping:
	    *: PetStore\Presenters\*\**Presenter

latte:
	strictTypes: yes
	strictParsing: yes

di:
	export:
		parameters: no
		tags: no

search:
	-	in: %appDir%
		classes:
			- *Factory
			- *Facade