parameters:
    pet:
        imagePath: 'images'

services:
    router: PetStore\Router\RouterFactory::createRouter

    # Presenters
    - PetStore\Presenters\Api\Pet\PetPresenter
    - PetStore\Presenters\Api\Category\CategoryPresenter
    - PetStore\Presenters\Api\Tag\TagPresenter

    # Providers
    - PetStore\Providers\PathProvider(%pet.imagePath%)

    # Services
    - PetStore\Services\PetService
    - PetStore\Services\CategoryService
    - PetStore\Services\TagService
    - PetStore\Services\HomeService

    # Repositories
    - PetStore\Repositories\XmlPetRepository('%appDir%/../db/pet-store.xml', 'Pets')
    - PetStore\Repositories\XmlCategoryRepository('%appDir%/../db/pet-category-store.xml', 'Categories')
    - PetStore\Repositories\XmlTagRepository('%appDir%/../db/pet-tag-store.xml', 'Tags')

extensions:
	apiRouter: Contributte\ApiRouter\DI\ApiRouterExtension
	translation: Contributte\Translation\DI\TranslationExtension

application:
	errorPresenter:
		4xx: Error:Error4xx
		5xx: Error:Error5xx
	mapping:
	    *: PetStore\Presenters\*\**Presenter

latte:
	strictTypes: yes
	strictParsing: yes

di:
	export:
		parameters: no
		tags: no

search:
	-	in: %appDir%
		classes:
			- *Factory
			- *Facade

translation:
    locales:
        whitelist: [en]
        default: en
        fallback: [en]

    dirs:
       	 - %appDir%/Presenters/lang

    localeResolvers:
       	 - Contributte\Translation\LocalesResolvers\Parameter