{varType PetStore\Presenters\Components\Grid\data\GridData $data}

{block content}

<div n:snippet="PetStore\Presenters\Home\HomePresenter::SNIPPET_GRID">
    {control grid}
</div>

<script>
    document.addEventListener("DOMContentLoaded", () => {
        ajax.fetch({link loadAllPets!}).then( result => ajax.processPayload(result) )
    });
</script>